html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    color: #fff;
}

.page-layout {
    width: 100%;
    height: 100%;
    display: table;
}

.page-main {
    vertical-align: middle;
    display: table-cell;
}

@media only screen and (max-height: 360px) and (orientation: landscape) {
    .page-main {
        zoom: 0.7;
    }
}

.pui-menu {
    margin-left: auto;
    margin-right: auto;
}

.pui-menu > li > a {
    vertical-align: middle;
    color: #fff;
}

.pui-menu > li > a:hover {
    background-color: #1A8BE8;
}

.pui-menu > li > a > .fa {
}

.editormd-logo {
    font-size: 1.5em;
    margin-right: 5px;
    vertical-align: text-bottom;
}

footer a + a {
    margin-left: 8px;
}