html, body {
    width: 100%;
}

body {
}

#layout {
    width: 100%;
    text-align: center;
}

::-webkit-scrollbar {
    width: 7px;
    height: auto;
}

.page-header {
    padding: 5rem 0 10rem;
}

.page-header .editormd-logo {
}

.editormd-dialog {
    line-height: 1.4;
}

.editormd-dialog-code-block {
    height: 535px !important;
}

.editormd-dialog-tab-code-block {
    height: 438px !important;
}

.editormd-code-toolbar select {
    max-width: 36%;
}

.editormd-form label,
.editormd-form input[type=text] {
    margin-bottom: 0;
}

.editormd-form input[type=text] {
  width: 263px;
}

.editormd-link-dialog .editormd-dialog-footer,
.editormd-reference-link-dialog .editormd-dialog-footer,
.editormd-image-dialog .editormd-dialog-footer {
    padding-right: 5px;
}

.editormd-form label {
    width: 71px;
}

.pui-form textarea, textarea {
    width: 100% !important;
}

.page-title {
    zoom:0.8;
    margin-bottom: -25px;
}

.page-title strong {
    margin-left: 10px;
    font-size: 1.7em;
    font-weight: normal;
    margin-top: -8px;
}

.page-menu {
    position: relative;
    z-index: 100;
    padding-bottom: 2rem;
}

.editormd {
    color: #666;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.editormd-dialog-container {
    border: none;
}

.pui-menu {
    margin-left: auto;
    margin-right: auto;
}

.pui-menu > li > a {
    vertical-align: middle;
    color: #fff;
}

.pui-menu > li > a.hover,
html.no-touch .pui-menu > li > a:hover {
    color: #fff;
    background-color: #1A8BE8;
}

.pui-menu > li > a > .fa {
    margin-top: -3px;
}

.pui-menu-dropdown {
    width: 300px;
} 

.pui-menu-dropdown > li > a {
    color: #666;
}

.pui-menu-dropdown > li > a.hover,
html.no-touch .pui-menu-dropdown > li > a:hover {
    color: #666;
    background: #f6f6f6;
}

.page-content {
    padding: 4rem 0;
}

.pui-panel-simple .pui-panel-box {
    padding-top: 1.6rem;
}

.github-buttons {
    padding-top: 2rem;
}

.github-buttons p {
    margin-bottom: 0;
}

.github-buttons p:first-child {
    margin-bottom: 1rem;
}

.page-footer {
    padding: 3rem 0;
}

.page-footer a + a {
    margin-left: 8px;
}

.page-footer h1 {
    margin-top: -20px;
    line-height: 1.2;
}

#go-to-top {
    position: fixed;
    bottom: 10%;
    right: 10%;
    display: none;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

#go-to-top.hover,
html.no-touch #go-to-top:hover {
    color: #2989D6 !important;
}

.page-header-container {
    width: 100%;
    margin: 0 auto;
}

.editormd-toolbar a {    
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.editormd-form input {
    margin-bottom: 0;
}

.editormd-form input[type=number] {
    width: 54px;
}

.editormd-goto-line-dialog p {
    margin-bottom: 0;
}

code {
    color: #999;
    background: #eee;
}

.case-list {
}

.case-list > li {
    margin-bottom: 0.5rem;
}

.case-list > li + li {
    margin-left: 1rem;
}

.case-list > li:nth-child(5n+1) {
    margin-left: 0;
}

.case-list > li > a {
    padding: 1.5rem;
    border: 1px solid #fff;
}

.case-list > li > a.hover,
html.no-touch .case-list > li > a:hover {
    border: 1px solid #eee;
    background-color: #fff;
}

.case-list > li > a > img {
    background-color: #fff;
}

@media only screen and (min-width: 400px) {
    .page-header-container {
        width: 90%;
    }
}

@media only screen and (max-width: 1024px) {
    .page-footer {
        padding: 3rem 2rem;
    }
    
    #go-to-top {
        right: 3%;
    }
}

@media only screen and (min-width: 1025px) {
    .page-header-container {
        width: 100%;
    }
}
