html, body {
    width: 100%;
}

body {
}

#layout {
    width: 100%;
    text-align: center;
}

.page-header {
    padding: 5rem 0 10rem;
}

.page-title {
}

.page-menu {
    position: relative;
    z-index: 101;
    padding-bottom: 2rem;
}

.editormd {
    z-index: 100;
    color: #666;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.editormd-dialog-container {
    border: none;
}

.pui-menu {
    margin-left: auto;
    margin-right: auto;
}

.pui-menu > li > a {
    vertical-align: middle;
    color: #fff;
}

.pui-menu > li > a:hover {
    background-color: #1A8BE8;
}

.pui-menu > li > a > .fa {
    margin-top: -3px;
}

.pui-menu-dropdown {
    width: 200px;
} 

.pui-menu-dropdown > li > a {
    color: #666;
}

.pui-menu-dropdown > li > a:hover {
    background: #f6f6f6;
}

.page-content {
    padding: 4rem 0;
}

.pui-panel-simple .pui-panel-box {
    padding-top: 1.6rem;
}

.github-buttons {
    padding-top: 2rem;
}

.github-buttons p {
    margin-bottom: 0;
}

.github-buttons p:first-child {
    margin-bottom: 1rem;
}

.page-footer {
    padding: 3rem 0;
}

.page-footer a + a {
    margin-left: 8px;
}

#go-to-top {
    position: fixed;
    bottom: 10%;
    right: 10%;
    display: none;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

#go-to-top:hover {
    color: #2989D6 !important;
}

.page-header-container {
    width: 100%;
    margin: 0 auto;
}

.editormd-toolbar a {    
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

code {
    color: #999;
    background: #eee;
}

@media only screen and (min-width: 400px) {
    .page-header-container {
        width: 90%;
    }
}

@media only screen and (max-width: 1024px) {
    .page-footer {
        padding: 3rem 2rem;
    }
    
    #go-to-top {
        right: 3%;
    }
}

@media only screen and (min-width: 1025px) {
    .page-header-container {
        width: 100%;
    }
}
